<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.prg" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="UTF-8" />
<title>Tournament login</title>
<link th:href = "@{/css/bootstrap.min.css}" rel ="stylesheet">
</head>

<body class="bg-dark">
<h1  class="text-white">Tournament login</h1>
<div  class="text-white" th:if="${param.error}">
Invalid username or password.
</div>
<div  class="text-white" th:if="${param.logout}">
You have been logged out
</div>
<br>
<form class="form-group" th:action="@{/login}" method="post">
<div><label class="text-white"> Username : <input type="text" name="username"/> </label></div>
<div><label class="text-white"> Password: <input type="password" name="password"/> </label></div>
<div><input class="btn btn-success" type="submit" value="Sign In"/></div>
</form>

</body>

</html>